* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* Estilos gerais */
body {
  font-family: Poppins, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

/* CONTAINER DO NAV */
.nav-container {
    width: 100%;
}

/* CARD ESCURO */
.card-sombra {
    width: 100%;
    height: 150px;
    background: #2b2b2b;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;

    box-shadow: 
        0px -10px 20px rgba(255, 255, 255, 0.25),
        0px 12px 22px rgba(0, 0, 0, 0.6);
}

/* LOGO */
.logo-2 {
    width: 150px;
}

/* LINKS DO MENU */
.topicos {
    display: flex;
    gap: 40px;
}

.topicos a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
}

.topicos a:hover {
    color: #00ff9d;
    transition: .2s;
}

/* RESTANTE DO SEU LAYOUT */
.fundo-verde {
    width: 100%;
}

.titulo {
    font-size: 70px;
    margin-top: 40px;
    font-weight: 600;
}

.plumbob {
    width: 180px;
    margin-top: 30px;
}
