* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Poppins, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

html {

    scroll-behavior: smooth;

}

img {
    max-width: 100%;
    height: auto;
}

.nav-container {
    width: 100%;
}

/* CARD ESCURO */
.card-sombra {
    width: 100%;
    height: 150px;
    background: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;

    box-shadow: 
        0px -10px 20px rgba(255,255,255,0.25),
        0px 12px 22px rgba(0,0,0,0.6);
}

/* LOGO */
.logo-2 {
    width: 230px;
}

/* MENU */
.topicos {
    display: flex;
    gap: 40px;
}

.topicos a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

.topicos a:hover {
    color: #0f94519c;
    transition: .2s;
    transform: translateY(-5px); 
    transition: 0.5s ease;

}

/* IMAGEM FUNDO VERDE */
.fundo-verde {
    width: 100%;
    height: 880px;
    display: block;
}

/* TÍTULO */
.titulo {
    font-size: 115px;
    font-weight: 600;
    position: relative;
    margin-top: -750px; /* SOBRE O FUNDO VERDE */
    margin-left: 80px;
    margin-bottom: 20px;
    right: -160px;
    color: #ffffff;
    font-family: 'Aclonica', sans-serif;
     line-height: 1.3; 

}

/* TEXTO */
.texto1 {
    font-size: 27px;
    margin-left: 80px;
    margin-top: 10px;
    line-height: 30px;
    right: -160px;
    position: relative;
    color: #ffffff;
}

/* PLUMBOB */
.plumbob {
    width: 290px;
    margin-left: 80px;
    top: -620px;
    right: -1200px;
    position: relative;
    
}


.titulo-historia {

    font-family: 'Poppins';
    font-size: 65px;
    line-height: 0.9;
    text-align: center; 
    top: -267px;
    position: relative;

}

.texto-container {
    width: 95%;       /* largura do bloco centralizado */
    margin: 0 auto;   /* centraliza o container */
}

.p-1h {
    width: 100%;      /* ocupam toda a largura do container */
    margin: 0;        /* sem deslocamento individual */
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
    position: relative;
    top: -140px;
}

.p-2h {

    width: 100%;      /* ocupam toda a largura do container */
    margin: 0;        /* sem deslocamento individual */
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
    position: relative;
    top: -130px;

}

.img-sims {

    width: 450px;
    right: -1350px;
    position: relative;
    top: -540px;

}

.p-3h {

    width: 100%;      /* ocupam toda a largura do container */
    margin: 0;        /* sem deslocamento individual */
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
    position: relative;
    top: -85px;

}

.frase-card {
    background-color: #2e7d32; /* verde parecido com o da imagem */
    color: white;
    border-radius: 50px;       /* bordas arredondadas */
    padding: 60px 50px;        /* mais espaço interno */
    max-width: 1400px;         /* largura maior do card */
    margin: 40px auto;          /* centraliza e dá mais espaço vertical */
    text-align: center;        
    box-shadow: 0 8px 25px rgba(0,0,0,0.4); /* sombra mais forte */
    font-family: 'Georgia', serif;
    position: relative;
    top: -450px;
}


.frase-card:hover {

   transform: translateY(-15px); 
    transition: 0.5s ease;

}

.frase-p {
    font-size: 40px;       /* texto maior */
    line-height: 1.8;      /* deixa mais espaçado */
    margin-bottom: 25px;
    font-family: 'Aclonica', sans-serif;
}

.frase-autor {
    font-size: 29px;       /* autor maior também */
    font-style: italic;
}

/* EVOLUCAO */

.titulo-evolucao {
    font-size: 55px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

    margin: 40px auto 30px auto; /* <<< Sobe e centraliza */
    padding-bottom: 20px;

    position: relative;
    top: -310px; /* garante que nada atrapalhe */
    width: fit-content; /* deixa o sublinhado do tamanho do texto (igual ao print) */
}

.linha-separadora {
    width: 100%;
    height: 4px;
    background: #0f9451;
    margin: 0 auto 40px auto;
    position: relative;
    top: -329px;
}


.jogo-box {
    width: 90%;
    margin: -190px auto 40px auto;  /* <<< SOBE O BLOCO */
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    align-items: flex-start;
}


/* Coluna esquerda */
.col-esquerda {
    text-align: center;
}

.ano {
    background: #096e3c;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Poppins';
    position: relative;
    top: -25px;
    left: -70px;
}

.capa-jogo {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: relative;
    left: 30px;
    top: -45px;
}

.nome-jogo {
    font-size: 32px;
    margin-top: -20px;
    position: relative;
    right: -10px;
    font-family: 'Aclonica', sans-serif;

}

.col-direita {
    display: flex;
    flex-direction: column;
    gap: 25px; /* espaçamento LIMPO entre cada bloco */
    margin-top: -10px; /* sobe um pouco */
}

.descricao {
    font-size: 20px;
    line-height: 1.7;
    right: -150px;
    position: relative;
    top: -25px;
}

.caracteristicas-titulo {
    font-size: 26px;
    font-weight: 600;
    color: #0f9451;
    margin-bottom: -5px; /* aproxima da lista */
    position: relative;
    right: -150px;

}

.lista {
    padding-left: 22px; /* recuo bonito */
    line-height: 1.6;
    font-size: 19px;
    position: relative;
    left: 150px;
}

.gameplay-sims1 {
    width: 480px;
    border-radius: 15px;
    top: -25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    right: -1300px;
}

.interface-sims1 {
    width: 390px;
    border-radius: 15px;
    top: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    right: -400px;
}

.linha-dupla-gradiente {
    width: 100%;
    height: 20px; /* ficou mais grossa */
    background:
        linear-gradient(to right, #7CFF7E, #0E7A1C) 0% 0% / 100% 6px no-repeat,
        linear-gradient(to right, #7CFF7E, #0E7A1C) 0% 100% / 100% 6px no-repeat;
    margin: 40px 0;
    top: 125px;
    position: relative;
}



/* Coluna esquerda */
.col-esquerda2 {
    text-align: center;
}

.ano2 {
    background: #096e3c;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Poppins';
    position: relative;
    top: -330px;
    left: 890px;
}

.capa-jogo2 {
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: relative;
    left: 550px;
    top: 240px;
}


.nome-jogo2 {
    font-size: 32px;
    margin-top: -20px;
    position: relative;
    top: 254px;
    right: -600px;
    font-family: 'Aclonica', sans-serif;

}

.col-direita2 {
    display: flex;
    flex-direction: column;
    gap: 25px; /* espaçamento LIMPO entre cada bloco */
    margin-top: -10px; /* sobe um pouco */
}

.descricao2 {
    font-size: 20px;
    line-height: 1.7;
    left: 200px;
    position: relative;
    top: -318px;
}

.caracteristicas-titulo2 {
    font-size: 26px;
    font-weight: 600;
    color: #0f9451;
    margin-bottom: -5px; /* aproxima da lista */
    position: relative;
    top: -260px;
    left: 200px;

}

.lista2 {
    padding-left: 22px; /* recuo bonito */
    line-height: 1.6;
    font-size: 19px;
    position: relative;
    left: 200px;
    top: -255px;
}

.gameplay-sims2 {
    width: 480px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    left: 78px;
    top: -150px;
}

.interface-sims2 {
    width: 390px;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    left: 100px;
    top: -39px;
}

.jogo-box {
    width: 90%;
    margin: -190px auto 40px auto;  /* <<< SOBE O BLOCO */
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    align-items: flex-start;
}

.linha-dupla-gradiente2 {
    width: 100%;
    height: 20px; /* ficou mais grossa */
    background:
        linear-gradient(to right, #7CFF7E, #0E7A1C) 0% 0% / 100% 6px no-repeat,
        linear-gradient(to right, #7CFF7E, #0E7A1C) 0% 100% / 100% 6px no-repeat;
    margin: 40px 0;
    top: 45px;
    position: relative;
}



/* Coluna esquerda */
.col-esquerda3 {
    text-align: center;
}

.ano3 {
    background: #096e3c;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Poppins';
    position: relative;
    top: -380px;
    left: -495px;
}

.capa-jogo3 {
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: relative;
    right: 655px;
    top: 171px;
}

.nome-jogo3 {
    font-size: 32px;
    top: 160px;
    position: relative;
    left: -605px;
    font-family: 'Aclonica', sans-serif;

}

.col-direita3 {
    display: flex;
    flex-direction: column;
    gap: 25px; /* espaçamento LIMPO entre cada bloco */
    margin-top: -10px; /* sobe um pouco */
}

.descricao3 {
    font-size: 20px;
    line-height: 1.7;
    right: -650px;
    position: relative;
    top: -493px;
}

.caracteristicas-titulo3 {
    font-size: 26px;
    font-weight: 600;
    color: #0f9451;
    margin-bottom: -5px; /* aproxima da lista */
    position: relative;
     right: -650px;
     top: -460px;

}

.lista3 {
    padding-left: 22px; /* recuo bonito */
    line-height: 1.6;
    font-size: 19px;
    position: relative;
    left: 650px;
    top: -440px;
}

.gameplay-sims3 {
    width: 550px;
    border-radius: 15px;
    top: -420px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    right: -1240px;
}

.interface-sims3 {
    width: 420px;
    height: 280px;
    border-radius: 15px;
    top: -310px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    right: -230px;
}

.linha-dupla-gradiente3 {
    width: 100%;
    height: 20px; /* ficou mais grossa */
    background:
        linear-gradient(to right, #7CFF7E, #0E7A1C) 0% 0% / 100% 6px no-repeat,
        linear-gradient(to right, #7CFF7E, #0E7A1C) 0% 100% / 100% 6px no-repeat;
    margin: 40px 0;
    top: -230px;
    position: relative;
}


.col-esquerda4 {
    text-align: center;
}

.ano4 {
    background: #096e3c;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Poppins';
    position: relative;
    top: -680px;
    left: 890px;
}

.capa-jogo4 {
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: relative;
    left: 550px;
    top: -126px;
}


.nome-jogo4 {
    font-size: 32px;
    margin-top: -20px;
    position: relative;
    top: -115px;
    right: -600px;
    font-family: 'Aclonica', sans-serif;

}

.col-direita4 {
    display: flex;
    flex-direction: column;
    gap: 25px; /* espaçamento LIMPO entre cada bloco */
    margin-top: -10px; /* sobe um pouco */
}

.descricao4 {
    font-size: 20px;
    line-height: 1.7;
    left: 200px;
    position: relative;
    top: -730px;
}

.caracteristicas-titulo4 {
    font-size: 26px;
    font-weight: 600;
    color: #0f9451;
    margin-bottom: -5px; /* aproxima da lista */
    position: relative;
    top: -693px;
    left: 200px;

}

.lista4 {
    padding-left: 22px; /* recuo bonito */
    line-height: 1.6;
    font-size: 19px;
    position: relative;
    left: 200px;
    top: -683px;
}

.gameplay-sims4 {
    width: 550px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    left: 78px;
    top: -563px;
}

.interface-sims4 {
    width: 445px;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    left: 100px;
    top: -446px;
}

.linha-dupla-gradiente4 {
    width: 100%;
    height: 20px; /* ficou mais grossa */
    background:
        linear-gradient(to right, #7CFF7E, #0E7A1C) 0% 0% / 100% 6px no-repeat,
        linear-gradient(to right, #7CFF7E, #0E7A1C) 0% 100% / 100% 6px no-repeat;
    margin: 40px 0;
    top: -370px;
    position: relative;
}


.titulo-recursos {

    font-size: 55px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

    margin: 40px auto 30px auto; /* <<< Sobe e centraliza */
    padding-bottom: 20px;

    position: relative;
    top: -355px; /* garante que nada atrapalhe */
    width: fit-content; /* deixa o sublinhado do tamanho do texto (igual ao print) */


}

.recursos-container {
    width: 100%;
    max-width: 1200px; /* limita o tamanho total do grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); /* garante que cada card fique no mínimo 330px */
    gap: 20px; /* mantém os cards próximos */
    justify-items: center;
    margin: 40px auto 0 auto; /* centraliza o grid */
    position: relative;
}


.card-recurso {
    width: 380px;       /* largura fixa */
    height: 330px;      /* altura igual à largura */
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.18);
    text-align: left;
    display: flex;           /* para alinhar conteúdo dentro */
    flex-direction: column;  /* ícone, título e texto na vertical */
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    top: -290px; /* mantém a posição que você já usava */
}


.card-recurso h3 {
    color: #1C8C39;
    font-size: 24px;
    margin: 10px 0;
}

.card-recurso p {
    font-size: 17px;
    line-height: 1.55;
    color: #333;
}

.icone-recurso {
    width: 48px;
    margin-bottom: 10px;
}


.imagem-central {
    width: 330px;
    display: block;
    margin: -70px auto 0 auto; /* aproxima a imagem do card de baixo */
    filter: drop-shadow(0 15px 25px rgba(0,0,0,0.3)); /* sombra mais visível */
    position: relative;
    z-index: 2; /* fica acima do card de baixo */
    position: relative;
    top: -270px;
}


.baixo {
    grid-column: 2 / 3;
    margin-top: -60px; /* card sobe para a sombra da criança ficar sobre ele */
    z-index: 1;
}


.recursos-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 25px; /* cards mais próximos */
    margin-top: 20px;
    margin-bottom: 60px;
}


.card-recurso2 {
    width: 330px;
    height: 330px;
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.18);
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.recursos-container-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px; /* <<< ESPAÇO ENTRE OS CARDS */
    margin-top: 40px;
    margin-bottom: 60px;
}


.card-recurso2 {
    width: 395px;
    height: 330px; /* tamanho fixo */
    background: #ffffff;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.18);
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
     top: -250px;
}


.icone-recurso2 {
    width: 48px;
    margin-bottom: 12px;
}


.card-recurso2 h3 {
    color: #1C8C39;
    font-size: 24px;
    margin-bottom: 12px;
}


.card-recurso2 p {
    font-size: 17px;
    line-height: 1.55;
    color: #333;
}

.card-recurso,
.card-recurso2,
.baixo {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* --- HOVER (MOVIMENTO FLUIDO) --- */
.card-recurso:hover,
.card-recurso2:hover,
.baixo:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 30px rgba(0,0,0,0.22);
}

.titulo-personagens {

    font-size: 55px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

    margin: 40px auto 30px auto; /* <<< Sobe e centraliza */
    padding-bottom: 20px;

    position: relative;
    top: -210px; /* garante que nada atrapalhe */
    width: fit-content; /* deixa o sublinhado do tamanho do texto (igual ao print) */


}



.descricaoperso {

    font-size: 24px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: -210px;

}


.container-personagens {
    width: 100%;          /* tamanho fixo horizontal */
    height: 300px; 
    max-width: 1300px;
    margin: 60px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    position: relative;
    margin: -120px auto 60px auto;
    
    
}

.card-personagem {
    width: 330px;
    height: 500px; /* <<< TAMANHO FIXO IGUAL PARA OS DOIS */
    background: #ffffff;
    padding: 30px 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
    overflow: hidden;


    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card-personagem img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.card-personagem h3 {
    font-size: 22px;
    color: #1C8C39;
    margin-bottom: 12px;
}

.card-personagem p {
    font-size: 17px;
    line-height: 1.55;
    color: #333;
}

.card-personagem:hover {

     transform: translateY(-6px);
    box-shadow: 0 15px 38px rgba(0,0,0,0.22);

}




.imagem-central2 {
    width: 360px;
    display: block;
    filter: drop-shadow(0 18px 30px rgba(0,0,0,0.3));
    position: relative;
    top: 69px;
}



.container-personagens-2 {
    width: 100%;
    max-width: 1200px;
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 160px;
    position: relative;
    top: 300px;
}

.card-personagem-2 {
    width: 440px;                     /* TAMANHO FIXO */
    height: 380px;                /* mantém igual mesmo com textos diferentes */
    background: #ffffff;
    padding: 30px 28px;
    border-radius: 18px;
    text-align: left;
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
    overflow: hidden;
}

/* img redonda */
.card-personagem-2 img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* titulo verde */
.card-personagem-2 h3 {
    font-size: 23px;
    color: #1C8C39;
    margin-bottom: 10px;
}

/* texto */
.card-personagem-2 p {
    font-size: 17px;
    line-height: 1.55;
    color: #333;
}



.container-personagens-3 {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto 120px auto;  /* espaço entre os containers */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 160px;
    position: relative;
    top: 300px;
}

.card-personagem-3 {
    width: 440px;                  
    height: 380px;             /* igual ao de cima */
    background: #ffffff;
    padding: 30px 28px;
    border-radius: 18px;
    text-align: left;
    box-shadow: 0 10px 35px rgba(0,0,0,0.15);
    overflow: hidden;
}

/* img redonda */
.card-personagem-3 img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

/* titulo verde */
.card-personagem-3 h3 {
    font-size: 23px;
    color: #1C8C39;
    margin-bottom: 10px;
}

/* texto */
.card-personagem-3 p {
    font-size: 17px;
    line-height: 1.55;
    color: #333;
}

.card-personagem-2,
.card-personagem-3 {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card-personagem-2:hover,
.card-personagem-3:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 38px rgba(0,0,0,0.22);
}



body {
    overflow-x: hidden;
}


/* botão q vai volta pro topo */
.btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ffffff;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
    z-index: 999;
}


.btn-topo img {
    width: 40px;
    height: 40px;
    display: block;
}


.btn-topo:hover {
    transform: scale(1.1);
    background: #ffffff;
}
