* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Poppins, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

html {

    scroll-behavior: smooth;

}

.nav-container {
    width: 100%;
}

/* CARD ESCURO */
.card-sombra {
    width: 100%;
    height: 150px;
    background: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 60px;

    box-shadow: 
        0px -10px 20px rgba(255,255,255,0.25),
        0px 12px 22px rgba(0,0,0,0.6);
}

/* LOGO */
.logo-2 {
    width: 230px;
}

/* MENU */
.topicos {
    display: flex;
    gap: 40px;
}

.topicos a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
}

.topicos a:hover {
    color: #0f94519c;
    transition: .2s;
    transform: translateY(-5px); 
    transition: 0.5s ease;

}

/* IMAGEM FUNDO VERDE */
.fundo-verde {
    width: 100%;
    height: 880px;
    display: block;
}

/* TÍTULO */
.titulo {
    font-size: 115px;
    font-weight: 600;
    position: relative;
    margin-top: -750px; /* SOBRE O FUNDO VERDE */
    margin-left: 80px;
    margin-bottom: 20px;
    right: -160px;
    color: #ffffff;
    font-family: 'Aclonica', sans-serif;
     line-height: 1.3; 

}

/* TEXTO */
.texto1 {
    font-size: 27px;
    margin-left: 80px;
    margin-top: 10px;
    line-height: 30px;
    right: -160px;
    position: relative;
    color: #ffffff;
}

/* PLUMBOB */
.plumbob {
    width: 290px;
    margin-left: 80px;
    top: -620px;
    right: -1200px;
    position: relative;
    
}


.titulo-historia {

    font-family: 'Poppins';
    font-size: 65px;
    line-height: 0.9;
    text-align: center; 
    top: -267px;
    position: relative;

}

.texto-container {
    width: 95%;       /* largura do bloco centralizado */
    margin: 0 auto;   /* centraliza o container */
}

.p-1h {
    width: 100%;      /* ocupam toda a largura do container */
    margin: 0;        /* sem deslocamento individual */
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
    position: relative;
    top: -140px;
}

.p-2h {

    width: 100%;      /* ocupam toda a largura do container */
    margin: 0;        /* sem deslocamento individual */
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
    position: relative;
    top: -130px;

}

.img-sims {

    width: 450px;
    right: -1350px;
    position: relative;
    top: -540px;

}

.p-3h {

    width: 100%;      /* ocupam toda a largura do container */
    margin: 0;        /* sem deslocamento individual */
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
    position: relative;
    top: -85px;

}

.frase-card {
    background-color: #2e7d32; /* verde parecido com o da imagem */
    color: white;
    border-radius: 50px;       /* bordas arredondadas */
    padding: 60px 50px;        /* mais espaço interno */
    max-width: 1400px;         /* largura maior do card */
    margin: 40px auto;          /* centraliza e dá mais espaço vertical */
    text-align: center;        
    box-shadow: 0 8px 25px rgba(0,0,0,0.4); /* sombra mais forte */
    font-family: 'Georgia', serif;
    position: relative;
    top: -450px;
}


.frase-card:hover {

   transform: translateY(-15px); 
    transition: 0.5s ease;

}

.frase-p {
    font-size: 40px;       /* texto maior */
    line-height: 1.8;      /* deixa mais espaçado */
    margin-bottom: 25px;
    font-family: 'Aclonica', sans-serif;
}

.frase-autor {
    font-size: 29px;       /* autor maior também */
    font-style: italic;
}

/* EVOLUCAO */

.titulo-evolucao {
    font-size: 55px;
    text-align: center;
    font-family: 'Poppins', sans-serif;

    margin: 40px auto 30px auto; /* <<< Sobe e centraliza */
    padding-bottom: 20px;

    position: relative;
    top: -310px; /* garante que nada atrapalhe */
    width: fit-content; /* deixa o sublinhado do tamanho do texto (igual ao print) */
}

.linha-separadora {
    width: 100%;
    height: 4px;
    background: #0f9451;
    margin: 0 auto 40px auto;
    position: relative;
    top: -329px;
}


.jogo-box {
    width: 90%;
    margin: -190px auto 40px auto;  /* <<< SOBE O BLOCO */
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    align-items: flex-start;
}


/* Coluna esquerda */
.col-esquerda {
    text-align: center;
}

.ano {
    background: #096e3c;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Poppins';
    position: relative;
    top: -25px;
    left: -70px;
}

.capa-jogo {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: relative;
    left: 30px;
    top: -45px;
}

.nome-jogo {
    font-size: 32px;
    margin-top: -20px;
    position: relative;
    right: -10px;
    font-family: 'Aclonica', sans-serif;

}

.col-direita {
    display: flex;
    flex-direction: column;
    gap: 25px; /* espaçamento LIMPO entre cada bloco */
    margin-top: -10px; /* sobe um pouco */
}

.descricao {
    font-size: 20px;
    line-height: 1.7;
    right: -150px;
    position: relative;
    top: -25px;
}

.caracteristicas-titulo {
    font-size: 26px;
    font-weight: 600;
    color: #0f9451;
    margin-bottom: -5px; /* aproxima da lista */
    position: relative;
    right: -150px;

}

.lista {
    padding-left: 22px; /* recuo bonito */
    line-height: 1.6;
    font-size: 19px;
    position: relative;
    left: 150px;
}

.gameplay-sims1 {
    width: 480px;
    border-radius: 15px;
    top: -25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    right: -1300px;
}

.interface-sims1 {
    width: 390px;
    border-radius: 15px;
    top: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    right: -400px;
}

/* Coluna esquerda */
.col-esquerda2 {
    text-align: center;
}

.ano2 {
    background: #096e3c;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Poppins';
    position: relative;
    top: -330px;
    left: 890px;
}

.capa-jogo2 {
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: relative;
    left: 550px;
    top: 240px;
}


.nome-jogo2 {
    font-size: 32px;
    margin-top: -20px;
    position: relative;
    top: 254px;
    right: -600px;
    font-family: 'Aclonica', sans-serif;

}

.col-direita2 {
    display: flex;
    flex-direction: column;
    gap: 25px; /* espaçamento LIMPO entre cada bloco */
    margin-top: -10px; /* sobe um pouco */
}

.descricao2 {
    font-size: 20px;
    line-height: 1.7;
    left: 200px;
    position: relative;
    top: -318px;
}

.caracteristicas-titulo2 {
    font-size: 26px;
    font-weight: 600;
    color: #0f9451;
    margin-bottom: -5px; /* aproxima da lista */
    position: relative;
    top: -260px;
    left: 200px;

}

.lista2 {
    padding-left: 22px; /* recuo bonito */
    line-height: 1.6;
    font-size: 19px;
    position: relative;
    left: 200px;
    top: -255px;
}

.gameplay-sims2 {
    width: 480px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    left: 78px;
    top: -150px;
}

.interface-sims2 {
    width: 390px;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    left: 100px;
    top: -39px;
}

.jogo-box {
    width: 90%;
    margin: -190px auto 40px auto;  /* <<< SOBE O BLOCO */
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    align-items: flex-start;
}


/* Coluna esquerda */
.col-esquerda3 {
    text-align: center;
}

.ano3 {
    background: #096e3c;
    color: white;
    padding: 10px 25px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 20px;
    font-family: 'Poppins';
    position: relative;
    top: -380px;
    left: -495px;
}

.capa-jogo3 {
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    position: relative;
    right: 655px;
    top: 171px;
}

.nome-jogo3 {
    font-size: 32px;
    top: 160px;
    position: relative;
    left: -605px;
    font-family: 'Aclonica', sans-serif;

}

.col-direita3 {
    display: flex;
    flex-direction: column;
    gap: 25px; /* espaçamento LIMPO entre cada bloco */
    margin-top: -10px; /* sobe um pouco */
}

.descricao3 {
    font-size: 20px;
    line-height: 1.7;
    right: -650px;
    position: relative;
    top: -493px;
}

.caracteristicas-titulo3 {
    font-size: 26px;
    font-weight: 600;
    color: #0f9451;
    margin-bottom: -5px; /* aproxima da lista */
    position: relative;
     right: -650px;
     top: -460px;

}

.lista3 {
    padding-left: 22px; /* recuo bonito */
    line-height: 1.6;
    font-size: 19px;
    position: relative;
    left: 650px;
    top: -440px;
}

.gameplay-sims3 {
    width: 550px;
    border-radius: 15px;
    top: -420px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    right: -1240px;
}

.interface-sims3 {
    width: 420px;
    height: 280px;
    border-radius: 15px;
    top: -310px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    position: relative;
    right: -230px;
}



body {
    overflow-x: hidden;
}


/* botão q vai volta pro topo */
.btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #ffffff;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: 0.3s;
    z-index: 999;
}


.btn-topo img {
    width: 40px;
    height: 40px;
    display: block;
}


.btn-topo:hover {
    transform: scale(1.1);
    background: #ffffff;
}
